<%- include('partials/header') %>

<div data-bs-spy="scroll" data-bs-target="#navbar" data-bs-smooth-scroll="true" class= "bg-body-tertiary rounded-2" tabindex="0">
    <section class="hero col-12">
        <div class="hero-content col-md-6 col-sm-12">
            <h1>Fresh Ideas for the <br> Modern Reader</h1>
            <p>Discover our curated collection of business books designed to inspire, educate, and elevate your professional journey.</p>
            <a href="#favourite-book" class="btn-primary">Browse Collection</a>
        </div>
        <div class="hero-image col-md-6 col-sm-12">
            <img src="/images/books.png">
                    </div>
    </section>

    <section class="features">
      <!---<div role="separator" class="dropdown-divider"></div>-------->            

            <h2 class="section-title" id="favourite-book">Favourite Books</h2>

            <div class="input-group mb-3">
<button class="btn btn-outline-none dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Sort By</button>
    <div class="dropdown-menu">
       <a class="dropdown-item" href="#favourite-book" onclick="sortDataTitleAsc()">Name (A-Z)</a>
       <a class="dropdown-item" href="#favourite-book" onclick="sortDataTitleDesc()">Name (Z-A)</a>
        <a class="dropdown-item" href="#" onclick="sortData('ratingAsc')">Rating (Low to High)</a>
        <a class="dropdown-item" href="#" onclick="sortData('ratingDesc')">Rating (High to low)</a>
        </div>

            </div>
          
        
        
        <div class="book-grid" id="collection">
            
            <% books.forEach(function(book) { if(book.id>1&&book.id<22){%>
                <div class="book-card">
                    <div class="book-placeholder"><img src=<%= book.coverurl %>></div>
                    <h3><%= book.title %></h3>
                    <p><%= book.author %></p>
                </div>
            <% }}); %>
            </div>
    </section>
<%- include('partials/footer') %>